body {
   font-family: Arial, sans-serif;
   background-color: #f2f2f2;
   margin: 0;
   padding: 0;
   display: flex;
   justify-content: center;
   align-items: center;
   height: 100vh;
}

.login-container {
   width: 400px;
   margin: 0 auto;
   padding: 20px;
   border: 1px solid #ccc;
   border-radius: 5px;
   background-color: #f9f9f9;
   box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.login-container h2 {
   text-align: center;
   margin-bottom: 20px;
   color: #007BFF;
}

.login-container .form-group {
   width: 100%;
   margin-bottom: 15px;
}

label {
   display: block;
   font-weight: bold;
   margin-bottom: 5px;
   color: #333;
}

input[type="text"],
input[type="password"] {
   width: 100%;
   max-width: 380px;
   padding: 10px;
   border: 1px solid #ccc;
   border-radius: 3px;
   font-size: 16px;
   color: #333;
   background-color: #fff;
   transition: border-color 0.3s ease;
}

input[type="text"]:focus,
input[type="password"]:focus {
   border-color: #007BFF;
   outline: none;
}

button[type="submit"] {
   width: 100%;
   padding: 10px; 
   background-color: #007BFF;
   color: #fff;   
   border: none;
   border-radius: 3px;
   font-size: 16px;
   cursor: pointer;
   transition: background-color 0.3s ease;
}

button[type="submit"]:hover {
   background-color: #0056b3;
}

#errorMessage {
   text-align: center;
   color: red;
   margin-top: 10px;
}